<main class="center">  
    <form class="pequeno-container" (submit)="handleSalvar()">
        <h1 class="heading">Pedidos de Venda</h1>
      <div class="form-floating mb-4">
        <label for="nome">Selecione o cliente:</label>
        <br><br>
        <app-selecao-cliente></app-selecao-cliente>
      </div>
      <div class="form-floating mb-4">
        <label for="nome">Selecione o produto:</label>
        <br>
        <app-selecao-produto></app-selecao-produto>
      </div>
      <br>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Salvar</button>
    </form>
  </main>