<main class="center">
    <form>
      <div class="input-group mb-3"> 
        <!-- adicionar NG Model -->
        <input type="text" class="form-control" name="codigo_cliente" aria-describedby="id" (blur)="carregar()" [(ngModel)]="codigo_cliente">
        <input type="text" class="form-control" name="nome_cliente" aria-describedby="descrição" [(ngModel)]="nome_cliente" disabled/>
        <button class="btn btn-outline-secondary" type="button" id="pesquisar" data-bs-toggle="modal" data-bs-target="#listaPesquisaCliente"> Search 
        </button>
      </div>
    </form>
  <!-- Modal -->
    <div class="modal fade" id="listaPesquisaCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Selecionar Cliente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope=" col">#</th>
                  <th scope="col">Nome</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cliente of cliente_service.clientes; let i = index" (click)="setCliente(i)" class="cursor-lista-filtro">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ cliente.nome }}</td>
                </tr>
                <tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  </main>
